@import "../theme/theme";
// we are importing the attributes from theme which include font and background color

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  
    height: 100px;
    width: 100%;
  
    padding: 0 20px;
  
    font-family: $logo-font;
    font-size: 24px;
    font-weight: bold;
    color: $on-secondary;
    text-transform: uppercase;
  
    background: $highlight;
    opacity: 75%;
  
    cursor: pointer;
  }