.info-card-container {
    height: 300px;
    width:250;
}

.image-card{
  width: 400px;
  height: 100%;
}

 .drag-area {
  position: absolute;

  border-radius: 30px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}


