.portal-outer-container{
height: 100%;
width: 100%;
display: grid;
grid-template-columns: repeat(12, 1fr [col-start]);
grid-template-rows: repeat(12, 1fr [row-start]);
}

.portal-grid-display{
    grid-column: 2 / 12;
    grid-row: 2 / 12;
    width: 100%;
    height: 100%;


}

.portal-navigation{
    grid-column: 9 / 12;
    grid-row: 2 / 12;
    z-index: 1;
    opacity: 70%;

}

.info {


}