#projects-container {
display: flex;
flex-direction: column;
background:#dfe4e8;
border: solid #676767;
border-radius: 15px;
height: auto;
width: auto;
padding-top: 20px;
overflow-x: hidden;
cursor: pointer;

}
.projects-container:hover {
}

  

.project-cards-container {
    width: auto;
    height: 100%;

}

#project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto ;
    padding-bottom: 25px;
    background-color: #76c1d4;
    
}

#card-container {
display: flex;
flex-direction: column;
background-color: #76c1d4;
border-radius: 15px;
border: solid #676767;
margin: 15px 0;

}
#data-description {
    font-size: 1rem;
    display: flex;
    justify-content: 'center';
    margin: 10px auto;

}
@media (max-width: 767px) {
    .card-container {
        margin: 15px 0;
        }
    #data-description{
       width: 300px;
    }
 
 }
 //greater 
 @media (min-width: 768px) {
    .card-container {
        margin: 15px 30px;
        }
        #data-description{
            width: 500px;
        }
 
 }

.projects-button{
    width: 25px;
    height: 25px;
}

#selected-project {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#shift-right,
#shift-left {
    position: absolute;
    justify-self: center;
    background: #f7f7f7;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
}
