.projects-container {
display: flex;
flex-direction: column;
justify-content: center;
background: rgba(38, 38, 38, .7);
height: 200%;
width: 100%;
padding-top: 50px;

}

.project-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.projects-button{
    width: 25px;
    height: 25px;
}

.selected-project {
    height: 100%;
    width: 100%;
    background-color: indigo;
}
