canvas{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.values-parent{
position: relative;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
mix-blend-mode: screen;


}

.values-banner{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    
}
.particles-bg{
    height: 100%;
    width: 100%;
    z-index: 0 !important;
}

.values-bg-image {
    position: relative;
    height: 100%;
    max-width: 100%;
    mix-blend-mode: screen;

}


.values-image{
    width: 100%;
}
